body{
    margin: 0;
    padding: 0;
    background-image: url("https://cdn.shopify.com/s/files/1/0449/5225/6667/files/gray_bg.jpg?v=1600154658");
}
#box{
    height:650px;
    /* border: #000000 1px solid; */
   
    width: 85%;
    margin:auto;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#sbox{
    height:90%;
    width:37%;
    /* border: purple 1px solid; */
}
#img1{
    height:75%;
    width:100%;
    margin-bottom: 4px;
    /* border: red 1px solid; */
}
#card{
    height: 100%;
    width: 60%;
    /* border: green 1px solid; */

}
.jhakaas{
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}
#smlimage{
    height:20%;
    width: 100%;
    /* border:blue 1px solid; */
    display: flex;
    justify-content: space-between;
}
#smlimage>div{
    height: 100%;
    width: 24%;
    /* border: brown 1px solid; */
}
#packimg{
    height:12%;
    width: 23%;
    /* border: goldenrod 1px solid; */
    display:flex;
    justify-content: space-between;
    align-items: center;
}
#cirimg{
    height: 100%;
    width:50%;
    /* border: 1px solid maroon; */
    border-radius: 55px;
    
}
#cirim{
    border-radius: 55px;
}
h1{
    color: #222;
    font-size: 2.34em;
    letter-spacing: .05em;
    line-height: 1.02;
    margin-top: 0;
}
#det,#ori{
    color: #222;
    font-family: PT Sans,sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    letter-spacing: .02em;
    line-height: 1.45;
    font-weight: 400;
}
#h2{
    color: #98cb4c;
    font-size: 28px;
    font-family: PT Sans,sans-serif;
    margin-top: 9%;
}
#h5{
    width: 25%;
    margin-left: 3%;
    margin-top: -23px;
    background-color: #000;
    color: #fff;
    visibility: visible;
    /* top: auto;
    bottom: 115%;
    left: 50%; */
    right: auto
    
    
}
#bigprice{
    color: #cd171f;
    font-weight: 500;
    font-size: 3.2em;
}
#inst>p{
    font-family: PT Sans, Arial, Helvetica, sans-serif;
    color: #4c4c4c;
    font-size: 14px;
}
#subins{
    margin-top: -11px;
}
/* // add to card */
#parent{
    display: flex;

}
#quantity{
background-color: a;
display: flex;
border-radius: 5px;
border: 1px solid;
width: 50px;
justify-content: space-around;
}
#quantity>div:nth-child(1){
border-right: 1px solid;
padding-right: 3px;
}

#quantity>div:nth-child(3){
border-left: 1px solid;
padding-left: 3px;

}
#quantity>div:nth-child(3):hover{
cursor: pointer;
}
#quantity>div:nth-child(1):hover{
cursor: pointer;
}
#cartBtn:hover{
color: rgb(241, 102, 102);
background-color: rgb(13, 1, 1);
cursor: pointer;
}
#cartBtn{
border-radius: 10px;
margin-left: 15px;
border: 0;
color: white;
background-color: rgb(99, 94, 94);
}

/* nav css  */
#topInfo{
    display: flex;
    height: 30px;
    background-color: #437111;
   justify-content: center;
   align-items: center;
    color: white;
    position: sticky;
}
#nav{
    width: 100%;
    text-align: center;
    z-index: 1000;
    height: 50px;
    background-color: #eeeeea!important;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: -0.5%;
}
#leftNav{
    font-size: 17px;
   
}
#leftNav>select{
    margin-right: 15px;
}
#nav80{
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
}
#showNav{
   width: 66px;
   border: 0px;
   border-radius: 5px;
   background-color: #eeeeea!important;
}
#learnNav{
width: 74px;
   border: 0px;
   border-radius: 5px;
   background-color: #eeeeea!important;
}
#grow{
    text-decoration: dashed;
    color: black;
    font-size: 15px;
    
}
#logoNav{
   width: 100px;
   
}
#rightNav>a>img{
   height: 20px;
   margin-left: 14px;
   border-radius: 15px;
}
    /* footer CSS start */
    #footer{
        padding-top: 20px; 
        margin-top: 70px;
         height: 220px;
         background-color: #708949
         
     }
     #footer>:first-child{
         
        width: 75%;
         padding-right: 80px;
         padding-bottom: 15px;
         margin: auto;
         margin-top: 10px;
         display: flex;
         justify-content: space-between;
        border-bottom: 1px solid rgb(78, 72, 72)
     }
     #useless>div{
         font-weight: bold;
     }
     #useless>div:hover{
        cursor: pointer;
        color: #b43238
     }
     #media>a>img:hover{
        transition: transform .3s; 
        transform: scale(1.1)
         
     }
     #last{
       border: px solid ;
       width: 75%;
         padding-right: 80px;
         padding-bottom: 15px;
         margin: auto;
         margin-top: 10px;
         display: flex;
         justify-content: space-between;
         
     }
     #last>img{
         
         margin-right: -59px;
         width: 80px
         
     }
     /* footer CSS end */